<!-- <nav class="navbar bg-light">
    <div class="container-fluid">
        
    </div>
</nav> -->
<br>
<div class="container-fluid col-md-4">
    <form class="d-flex" #staffSearch="ngForm" (ngSubmit)="searchStaff(staffSearch)">
        <input class="form-control me-2" placeholder="Buscar personal" aria-label="Search" name="apellido" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.apellido">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>        
</div>

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Carnet de identidad</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Correo</th>
          <th scope="col">Género</th>
          <th scope="col">Cargo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personal of (personalService.staff)">
          <td>{{ personal.nombre }} {{ personal.apellido }}</td>
          <td>{{ personal.ci }}</td>
          <td>{{ personal.telefeno }}</td>
          <td>{{ personal.correo }}</td>
          <td>{{ personal.genpersonal }}</td>
          <td>{{ personal.detalle }}</td>
        </tr>
    </tbody>
</table>
<hr>
<h1>Registro de Personal</h1>
<div class="row">
    <!-- FORM -->
    <form #staffForm="ngForm" (ngSubmit)="addStaff(staffForm)">
        <div class="form-group col-md-4">
            <div class="input-field col-s12">
                <label for="">Nombre</label>
              <input type="text" name="nombre" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.nombre"
                placeholder="Ingresa el Nombre" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="">Apellido</label>
            <input type="text" name="apellido" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.apellido"
              placeholder="Ingresa el Apellido" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <div class="input-field col-s12">
              <label for="">CI</label>
              <input type="text" name="ci" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.ci"
                placeholder="Ingresa el CI" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="">Teléfono</label>
            <input type="text" name="telefeno" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.telefeno"
              placeholder="Ingresa el Teléfono" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <div class="input-field col-s12">
              <label for="">Correo</label>
              <input type="text" name="correo" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.correo"
                placeholder="Ingresa el Correo" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="">Dirección</label>
            <input type="text" name="direccion" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.direccion"
              placeholder="Ingresa la Dirección" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <div class="input-field col-s12">
              <label for="">Fecha de Naciemiento</label>
              <input type="date" name="fecnac" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.fecnac"
                placeholder="Ingresa la Fecha de Nacimiento" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="">Genero</label>
            <select name="genpersonal" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.genpersonal" id="" class="form-control">
                <option value="MASCULINO" selected>MASCULINO</option>
                <option value="FEMENINO">FEMENINO</option>
                <option value="OTRO">OTRO</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <div class="input-field col-s12">
              <label for="">Antecedentes</label>
              <input type="text" name="antecedentes" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.antecedentes"
                placeholder="Ingresa los Antecedentes" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="">Respuesta Psicológica</label>
            <input type="text" name="decpsicologico" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.decpsicologico"
              placeholder="Ingresa la Respuesta Psicológica" class="form-control">
        </div>
        <div class="form-group col-md-4">
            Cargo
            <select name="idcargo" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.idcargo" id="" class="form-control">
                <option *ngFor="let car of cargo" value={{car.id}}>{{car.detalle}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="">Área</label>
            <select name="idarea" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.idarea" id="" class="form-control">
                <option *ngFor="let are of area" value={{are.id}}>{{are.detalle}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="">Profesión</label>
            <select name="idprofesion" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.idprofesion" id="" class="form-control">
                <option *ngFor="let pro of profesion" value={{pro.id}}>{{pro.detalle}}</option>
            </select>
        </div>
        <br>
        <button class="btn btn-outline-danger mr-2" (click)="resetForm(staffForm)">Cancelar</button>
        <button class="btn btn-outline-success">Crear Personal</button>
    </form>
</div>