<!-- <nav class="navbar bg-light">
    <div class="container-fluid">
        
    </div>
</nav> -->
<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/listado-personal">Lista de Personal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registro-personal">Registro de personal</a>
          </li>
        </ul>
        <form class="d-flex" #staffSearch="ngForm" (ngSubmit)="searchStaff(staffSearch)">
            <input class="form-control me-2" placeholder="Buscar personal" aria-label="Search" name="apellido" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.apellido">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav> -->
<!-- <div class="container-fluid col-md-4">
    <form class="d-flex" #staffSearch="ngForm" (ngSubmit)="searchStaff(staffSearch)">
        <input class="form-control me-2" placeholder="Buscar personal" aria-label="Search" name="apellido" #name="ngModel" [(ngModel)]="personalService.SelectedStaff.apellido">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>        
</div> -->

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Carnet de identidad</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Correo</th>
          <th scope="col">Género</th>
          <th scope="col">Cargo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personal of (personalService.staff)">
          <td>{{ personal.nombre }} {{ personal.apellido }}</td>
          <td>{{ personal.ci }}</td>
          <td>{{ personal.telefeno }}</td>
          <td>{{ personal.correo }}</td>
          <td>{{ personal.genpersonal }}</td>
          <td>{{ personal.detalle }}</td>
        </tr>
    </tbody>
</table>

