.form-personal form {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-personal .btn-form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.form-personal .dobles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}